<%- include("templates/header") %> 
	<div style="font-size: 20pt;">Users</div>
    <ul style="list-style-type:none">
        <% let i=0; %>
		<% for(i=0; i < users.length; i++) { %>
        <%- include('templates/user', {user: users[i]})  %> 
        <% } %> 
    </ul>
<%- include("templates/footer") %> 