<%- include("templates/header") %> 
<div class="d-flex gap-2 justify-content-center py-5">
    <a class="btn btn-primary rounded-pill px-3" href="/signup" type="button">Sign up</a>
    <a class="btn btn-primary rounded-pill px-3" href="/login" type="button">Log in</a>
  </div>
<%- include("templates/footer") %> 