<%- include("templates/header") %> 
<h1>Hello <%=username%></h1>
<div class="row row-cols-md-3 mb-3 text-center">
      <div class="col themed-grid-col"><img src='/milkmocha1.jpg' height="350px" width="350px"/></div>
      <div class="col themed-grid-col"><img src='/milkmocha2.jpg' height="350px" width="350px"/></div>
      <div class="col themed-grid-col"><img src='/milkmocha3.jpg' height="350px" width="350px"/></div>
    </div>
    <button style="display: block;" onclick="window.location.href='/logout'">Sign out</button>
<%- include("templates/footer") %> 